body {
  margin: 0 auto;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-container {
  width: 100%;
  height: 100%;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.landingBody {
  margin: 0 auto;
  /* background-color: rgb(36, 36, 36); */
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: row;
  justify-content: center;
  flex-flow: row;
}

#landinglogin-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.landingLoginBody {
  padding: 15px;
  height: 300px;
  width: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

#quote-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

#quote-box {
  height: 50%;
  width: 50%;
  justify-content: center;
  align-self: center;
}

#quoteText {
  display: flex;
  overflow-wrap: break-word;
  overflow: hidden;
  color: white;
}

.input {
  display: flex;
  height: 30px;
  width: 200px;
}

.button {
  height: 30px;
  width: 100px;
}
#input-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100px;
  padding-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 300px;
  width: 100%;
  color: white;
  font-size: 7px;
  align-items: flex-end;
  padding-bottom: 10px;
}
